<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <servlet-name>AddCustomerServlet</servlet-name>
    <servlet-class>com.duiyi.web.AddCustomerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AllCustomerServlet</servlet-name>
    <servlet-class>com.duiyi.web.AllCustomerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ModifyCustomerServlet</servlet-name>
    <servlet-class>com.duiyi.web.ModifyCustomerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteCustomerServlet</servlet-name>
    <servlet-class>com.duiyi.web.DeleteCustomerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BatchDeletCustomerServlet</servlet-name>
    <servlet-class>com.duiyi.web.BatchDeletCustomerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SelectCustomerServlet</servlet-name>
    <servlet-class>com.duiyi.web.SelectCustomerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PageCustomerServlet</servlet-name>
    <servlet-class>com.duiyi.web.PageCustomerServlet</servlet-class>
  </servlet>







  <servlet-mapping>
    <servlet-name>AddCustomerServlet</servlet-name>
    <url-pattern>/servlet/AddCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AllCustomerServlet</servlet-name>
    <url-pattern>/servlet/AllCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModifyCustomerServlet</servlet-name>
    <url-pattern>/servlet/ModifyCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteCustomerServlet</servlet-name>
    <url-pattern>/servlet/DeleteCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BatchDeletCustomerServlet</servlet-name>
    <url-pattern>/servlet/BatchDeletCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectCustomerServlet</servlet-name>
    <url-pattern>/servlet/SelectCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PageCustomerServlet</servlet-name>
    <url-pattern>/servlet/PageCustomerServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>
